html{
    height: 100%;
    font-family: Verdana;
    font-size: 10px;
}

body{
    margin: 0px;
    /* height: 150%; */
    font-size: 13px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headerStyle{
    background-color: #4ea29f;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.headerContent{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.buttonStyle{
    background-color: gray;
    border: none;
    height: 30px;
    width: 105px;
}

.headerItems{
    display: flex;
}
.items{
    margin-left: 8px;
}

.bodyStyle{
    background: linear-gradient(rgb(57, 235, 154),rgb(187, 143, 189));
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gap{
    height: 10px;
}

.bodyContent{
    text-align: left;
    width: 600px;
    align-items: center;
}

.body1{
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
}

.livingroomimg{
    width: 600px;
    height: auto;
}

.imgRow{
    display: flex;
    width: 600px;
}

.img{
    width: 25%;
    height: 150px;
    overflow: hidden;
}

.title-element{
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    color: purple;
    font-size: 16px;
}

.tableStyle table{
    width: 100%;
}

.tableStyle tr td{
    padding-left: 16px;
}

.line-divide{
    height: 2px;
    width: 100%;
    background-color: white;
}

.paraStyle{
    padding-left: 16px;
    font-size: 12px;
}

.button1{
    padding-left: 16px;
}

.button1 .Style {
    background: green;
    border: none;
    height: 30px;
    width: 300px;
}

.contactStyle {
    padding-left: 16px;
}

.inputStyle{
    width: 100%;
}

.contactStyle p a{
    text-decoration: none;
}